.balkje {
  background-color: #A0C531;
  position: relative;
}

.logo {
  margin: 1rem;
}

.hamburger {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;;
}

.menu {
  background-color: #A0C531;
  color: white;
  position: absolute;
  z-index: 10;
  top: 6rem;
  right: 1rem;
  border-radius: 15px;
  padding: 1rem;
  font-size: 15px;
  line-height: 19px;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

.onzichtbaar {
  display: none;
}

.zichtbaar {
  display: block;
}

.katje {
  width: 100vw;
  z-index: 0
}

.titelpagina {
  position: relative;
}

h3 {
  color: #B8D5D1;
  font-size: 25px;
  font-family: futura-pt-condensed,sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 4rem;
  text-align: center;
}

.titelpagina h2 {
  position: absolute;
  top: 20rem;
  left: 2rem;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: futura-pt-condensed,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titelpagina h2:nth-child(2) {
  top: 23rem;
}

/* MAIN */

main {
  position: relative;
  top: -2rem;
  background-color: white;
  border-radius: 21px 21px 0px 0px;
}

.startpagina {
  padding-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 18px;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 1rem;
  line-height: 2rem;
}

.linksstart {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 21px;
  margin-top: 2rem;
}

.link1 {
  position: relative;
}

.link1 a {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 5rem;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.linkorange {
  background-color: #F3AA89;
}

.lightblue {
  background-color: #B8D4D1;
}

.darkblue {
  background-color: #63C1C7;
}


/* FOOTER */
footer {
  width: 100vw;
  height: 5rem;
  background-color: #A0C531;
}


/* CONTACTPAGINA */

h4 {
  font-size: 18px;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  line-height: 20px;
}

.contact-card, .mogelijkheden, .steunons-card, .zooplus-card, .tips-card, .zwerfkatten-card, .steriliseren-card, .links-card {
  margin-top: 2rem;
  color: white;
  line-height: 10px;
  width: 80%;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 21px;
  background-color: #61C1C7;
}

.contact-card p {
  margin-top: 0;
}

.list {
  font-size: 18px;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  margin-left: 2rem;
  list-style: disc;
}

.contact-main {
  position: relative;
}

.illustratie {
  position: absolute;
  right: 2rem;
  bottom: 7.5rem;
  width: 150px;
}

/* METER PETERPAGINA */

.peter-card, .adoptie-card, .fabeltje, .afscheid-card{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.meterpeter-main {
  position: relative;
}


.meterpeter-main .illustratie{
  position: absolute;
  right: 0rem;
  bottom: -3rem;
  width: 80px;
}

.pootje{
  position: absolute;
  right: 1rem;
  top: 12rem;
  width: 50px;
  z-index: 1
}

.pootje2{
  position: absolute;
  transform: rotate(90deg);
  left: 0rem;
  top: 0rem;
  width: 50px;
  z-index: 1
}

.pootje3{
  position: absolute;
  transform: rotate(70deg);
  left: 1rem;
  top: 58rem;
  width: 50px;
  z-index: 1
}

.pootje4{
  position: absolute;
  transform: rotate(-10deg);
  right: 1.2rem;
  top: 88rem;
  width: 50px;
  z-index: 1
}

.pootje5{
  position: absolute;
  transform: rotate(80deg);
  left: 0rem;
  top: 110rem;
  width: 50px;
  z-index: 1
}

.pootje6{
  position: absolute;
  transform: rotate(20deg);
  right: 1.8rem;
  top: 160rem;
  width: 50px;
  z-index: 1
}

.pootje7{
  position: absolute;
  transform: rotate(50deg);
  left: 0rem;
  top: 220rem;
  width: 50px;
  z-index: 1
}

.pootje8{
  position: absolute;
  transform: rotate(40deg);
  right: 1.8rem;
  top: 290rem;
  width: 50px;
  z-index: 1
}

.pootje9{
  position: absolute;
  transform: rotate(90deg);
  left: 0rem;
  top: 400rem;
  width: 50px;
  z-index: 1
}

.pootje10{
  position: absolute;
  transform: rotate(20deg);
  right: 1.8rem;
  top: 450rem;
  width: 50px;
  z-index: 1
}

.pootje11{
  position: absolute;
  transform: rotate(90deg);
  left: 0rem;
  top: 500rem;
  width: 50px;
  z-index: 1
}

.pootje12 {
  position: absolute;
  transform: rotate(20deg);
  right: 1.8rem;
  top: 550rem;
  width: 50px;
  z-index: 1
}

.pootje13{
  position: absolute;
  transform: rotate(90deg);
  left: 0rem;
  top: 630rem;
  width: 50px;
  z-index: 1
}
/* ADOPTIE PAGINA */

.fotodier {
  margin-top: 2rem;
  display: block;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 21px;
}

.verhaal {
  background-color: #B8D5D1;
  border-radius: 0 0 21px 21px;
  padding: 1rem;
}

.verhaalfoto {
  margin-top: 2rem;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 21px 21px 0 0;
}

.backbtn, .btn {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  border-radius: 5rem;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn {
  margin-top: 1rem;
  font-size: 12px;
}

footer {
  padding: 3rem;
}

.klembord {
  position: absolute;
  left: 1rem;
  bottom: -5rem;
  width: 80px;
  transform: rotate(20deg);
}

/* STEUN ONS */

.voorbeeld {
  color: white;
  line-height: 10px;
  width: 80%;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius:0 0 21px 21px;
  background-color: #F3AA89;
}

.testament {
  border-radius: 21px 21px 0 0;
}

.hondkat {
  position: absolute;
  right: 1rem;
  bottom: 53rem;
  width: 110px;
  transform: rotate(-20deg);
}

/* ZOOPLUS */
.zooplus{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TIPS */
.verlies p {
  margin-top: 1rem;
}

.verlies:nth-child(2) {
  border-radius: 21px 21px 0 0;
}

.verlies-foto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tuinafsluiting2{
  border-radius: 0 0 21px 21px;
}

/* ZWEFKATTEN */
.zwerfkatten-main {
  position: relative;
}

.zwerfkattenillustratie {
  position: absolute;
  bottom: -5.5rem;
  width: 100px;
  right: 1rem;
}

/* STERILISEREN */

.fabeltje h4 {
  text-transform: none;
}

/* LINKS */

.links h4 {
  margin-bottom: 2rem;
}

.laatstp {
  margin-bottom: 2rem;
}

/* RESPONSIVE */

@media (min-width: 500px) {

  .titelpagina h2 {
    top: 26rem;
    left: 2rem;
    font-size: 32px;
  }

  .coordinaten {
    width: 80%;
  }

  .titelpagina h2:nth-child(2) {
    top: 29rem;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
    line-height: 26px
  }

  .contact-card p, .peter-card p, .mogelijkheden p, .peter-card li, .steunons-card p, .voorbeeld p, .zooplus-card p, .adoptie p, .tips p, .zwerfkatten p, .steriliseren p{
    font-size: 20px;
    line-height: 22px;
  }

  .link1 a {
    font-size: 15px;
  }

  #adoptiebtn, #afscheidbtn {
    position: absolute;
    bottom: 2rem;
    right: -2rem;
  }
}


@media (min-width: 700px) {

  .titelpagina h2 {
    top: 40rem;
    left: 2rem;
    font-size: 46px;
  }

  .links img {
    width: 30rem;
  }

  .contact-card p, .peter-card p, .mogelijkheden p, .peter-card li, .steunons-card p, .voorbeeld p, .zooplus-card p, .adoptie-card p, .tips p, .zwerfkatten p, .steriliseren p, .startpagina p{
    font-size: 22px;
    line-height: 24px;
  }


  .linkshome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hamburger {
    right: 3rem;
    top: 2rem;
  }


  .titelpagina h2:nth-child(2) {
    top: 45rem;
  }

  .link1 a {
    font-size: 13px;
  }

  #adoptiebtn, #afscheidbtn {
    position: absolute;
    bottom: 2rem;
    right: -2rem;
  }

  .logo {
    width: 70px;
  }

  .hamburger {
    width: 40px;
  }

  .katje {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .link1 a {
    bottom: 2rem;
    right: 5rem;
    padding: 1rem;
  }

  .menu {
    top: 8rem;
    right: 1rem;
    font-size: 18px;
    line-height: 22px;
  }

  .contact-main .illustratie {
    position: absolute;
    right: 2rem;
    bottom: -3rem;
    width: 300px;
  }


  .petermeterschap {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 2rem;
  }


  .mogelijkheden {
    grid-column: 2;
    width: 100%;
  }

  .interesse {
    grid-column: 1/3;
    width: 100%;
  }

  .peter-card {
    margin:0
  }

  .meterpeter-main .illustratie {
    bottom: 10rem;
    right: 3rem;
    width: 140px;
  }

  .adoptiegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .adoptie-card img {
    width: 100%;
  }

  .muffin {
    width: 60%;
  }

  #adoptiebtn2 {
    right: 1.5rem;
  }

  .fotodier {
    margin-left: 0;
    margin-right: 0;
  }

  .zooplusfooter {
    position: fixed;
    bottom: 0;
  }

  .zooplus {
    width: 60%;
  }

  .tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .verlies-foto {
    grid-column: 2;
    grid-row: 5;
    margin-top: 2rem;
  }

  .verlies-foto img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .tuinafsluiting {
    border-radius: 21px 21px  0 0;
  }

  .tips-card {
    width: 90%;
  }

  .vakantie {
    grid-row: 1;
  }

  .preventief {
    grid-row: 5;
  }

  .tipspootje1 {
    right: 3rem;;
    top: 6rem;
  }

  .tipspootje2 {
    left: 3rem;
    top: 1rem;
  }

  .tipspootje3 {
    display: none;
  }

  .tipspootje4 {
    right: 38rem;;
    top: 58rem;
  }

  .tipspootje5 {
    display: none;



  }

  .tipspootje6 {
    right: 3rem;;
    top: 151rem;
  }

  .tipspootje7 {
    left: 4rem;
    top: 220rem;
  }

  .tipspootje8 {
    right: 1rem;
    top: 215rem;
  }

  .tipspootje9 {
    display: none;
  }

  .tipspootje12, .tipspootje11, .tipspootje10 {
    display: none;
  }

  .zwerfkztpootje5 {
    display: none;
  }

  .zwerfkztpootje4, .sterielpootje7 {
    display: none;
  }

  .steriliseren {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  .linksfoto {
    bottom: -2rem;
    right: 6rem;
  }

  .afscheid .fotodier {
    width: 120%;
  }

  .afscheid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 1rem;
  }

  .afscheidfooter {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 1000px) {
  .katje {
    height: 80vh;
    object-fit: cover;
  }

  .titelpagina h2 {
    font-size: 55px;
    top: 55rem;
  }

  .titelpagina h2:nth-child(2) {
    font-size: 55px;
    top: 62rem;
  }


  .titelpaginagrid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-auto-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  h3 {
    margin-top: 0rem;
    padding-top: 3rem;
  }

  .linkshome {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .linksstart {
    margin-right: 0;
    margin-top: 0
  }

  .link1 a {
    right: 2rem;
    bottom: 2rem;
  }

  main {
    top: 0
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9rem;
    margin-top: 5rem;
  }

  .contact-card {
    margin-top: 0
  }

  .petermeterschap {
    margin-top: 5rem;
    margin-bottom: 32rem;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: none;
  }

  .interesse {
    grid-row: 1;
    grid-column: 3
  }

  .meterpootje1, .adoptiepootje1, .steunonspootje1, .zoopluspootje, .zwerfkattenpootje1, .sterielpootje1, .afscheidpootje1 {
    right: 3rem;
    top: 20rem;
  }

  .meterpootje2, .adoptiepootje2, .steunonspootje2, .zoopluspootje2, .zwerfkattenpootje2, .sterielpootje2, .afscheidpootje2 {
    left: 3rem;
    top: 3rem;
  }

  .meterpootje3, .adoptiepootje3, .steunonspootje3, .zoopluspootje3, .zwerfkattenpootje3, .sterielpootje3, .afscheidpootje3 {
    left: 8rem;
    bottom: 3rem;
  }

  .adoptiegrid {
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 12rem;
  }

  .steunons-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 5rem;
  }

  .schenking {
    grid-row: 1;
    grid-column: 1;
  }

  .voeding {
    grid-row: 2;
    grid-column: 1;
  }

  .financieel {
    grid-row: 3;
    grid-column: 1;
  }

  .hoe {
    grid-row: 1/4;
    grid-template-columns: 2;
  }

  .steunonsfooter {
    width: 100%;
    margin: 0
  }

  .hondkat {
    left: 2rem;
    bottom: 1rem;
    width: 150px;
  }

  .zooplusfooter, .tipsfooter {
    position: relative;
  }

  .zooplus-card {
    width: 60%;
  }

  .zooplus {
    width: 400px;
    margin-bottom: 18rem;
  }

  .tips {
    width: 85%;
  }

  .tipspootje4 {
    display: none;
  }

  .zwerfkatten {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .steriliseren {
    width: 70%;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .sterielpootje6, .sterielpootje4 {
    display: none;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .links-main .illustratie {
    width: 300px;
  }

  .afscheidfooter {
    position: relative;
  }

  .afscheid {
    margin-top: 5rem;
    margin-bottom: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .linkshome {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
  }
}

@media (min-width: 1400px) {

  body {
    background-color: lightgrey
  }

  .menu {
    right: 26rem;
  }

  header {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
  }

  .linksstart {
    width: 80%;
  }

  .maincontainer{
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }


}
